body {
	background-color: lightgrey;
	font-family: helvetica;
	line-height: 1.2;
	font-size: large;
}


#park {
	width: 800px;
	height: 650px;
	place-items: center;
}

#info {
	position: fixed;
	left: 810px;
	top: 45px;
	width: 300px;
}


#feed {
	width: 100%;
}

#treeinfo {
	width: 100%;
}


svg {
	position: absolute;
	z-index: 2;
}

.tree_svg:hover {
	cursor: pointer;
}

.park_svg  {
	position: absolute;
	grid-area: inner-div;
}

#garden {
	left: 40px;
	top: 45px;
	width: 710px;
}

svg path {
	shape-rendering: crispEdges;
}