body {
	background-color: lightgrey;
	font-family: helvetica;
	line-height: 1.2;
}

#park {
	width: 800px;
	height: 650px;
	place-items: center;
}

#feed {
	position: fixed;
	left: 850px;
	top: 25px;
	width: 300px;
	height: 400px;
	overflow: auto;
}

svg {
	position: absolute;
	z-index: 2;
}

.park_svg  {
	position: absolute;
	grid-area: inner-div;
}


#beds {
	left: 115px;
	top: 153px;
	width: 598px;
	/*height: 425px;*/
}

#segments {
	left: 35px;
	top: 45px;
	width: 720px;
	/*height: 613px;*/
}

#garden {
	left: 35px;
	top: 45px;
	width: 720px;
	/*height: 613px;*/
}

svg path {
	shape-rendering: crispEdges;
}