body {
	background-color: lightgreen;
	font-family: helvetica;
	line-height: 1.2;
}

#park {
	width: 800px;
	height: 650px;
	background-color: lightgreen;
	place-items: center;
}

#feed {
	position: fixed;
	left: 850px;
	top: 25px;
	width: 300px;
	/*border: 1.5px solid black;*/
	/*padding: 5px;*/
	height: 400px;
	overflow: auto;
}

/*.park_svg {
	width: 790px;
	height: 640px;
	grid-area: inner-div;
place-items: center;
}
*/
.park_svg  {
	position: absolute;
	grid-area: inner-div;
}


#beds {
	left: 110px;
	top: 148px;
	width: 660px;
	/*height: 425px;*/
}

#segments {
	left: 25px;
	top: 25px;
	width: 800px;
	height: 613px;
}


svg path {
	shape-rendering: crispEdges;
}